<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile" placeholder="upload" class="file">
        <button class="upload" type="submit">upload</button>
    </form> 
    <button type="menu" class ="access"> <a href="/files">Access</a></button>

   
</body>
</html>